<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clothing Line</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Color</th>
            </tr>
        </thead>
        <tbody>
            {% for key in data %}
                <tr>
                    <td>{{ data[key]["name"] }}</td>
                    <td>{{ data[key]["color"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>